[Unit]
Description=Automatically configure nginx to map subdomains to docker container ports by container hostname
After=docker.service
Requires=docker.service
After=nginx.service
Requires=nginx.service

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/srv/prx
TimeoutStartSec=5min
ExecStart=/srv/prx/systemd/start
Restart=always

[Install]
WantedBy=multi-user.target
