[Unit]
Description=Dynamically map docker container ports to subdomains by container hostname via nginx
After=docker.service
Requires=docker.service
After=nginx.service
Requires=nginx.service

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/srv/subdomx
TimeoutStartSec=5min
ExecStart=/srv/subdomx/systemd/start
Restart=always

[Install]
WantedBy=multi-user.target
